{% extends "base.html" %}
{% block content %}

<h1>{{ name }}</h1>

<form method="post" action="{{ url_for('register') }}">
    <table>
        <tr>
            <th>mm</th>
            <th>category</th>
            <th>prise</th>
        </tr>
        <tr>
            <td><input type="month" name="mm"</td>
            <td>
                <select name="category" size="1">
                    <option>電気</option>
                    <option>ガス</option>
                    <option>水道</option>
                </select>
            </td>
            <td><input type="text" name="price"</td>
        </tr>
    </table>
    <br>
    <input type="submit" value="送信">
</form>

  <a href="{{ url_for('home') }}">modoru</a>

{% endblock %}